.row {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  background-color: #1996da;
  padding-bottom: 25px;
}

h2 {
  display: block;
  text-align: center;
  justify-content: center;
  opacity: 0.9;
}

.white-text {
  color: white;
}

img {
  background-color: white;
  width: 50%;
}

.font {
  font-family: Lato, sans-serif;
}

p {
  margin: auto;
  padding: 0 10px 10px;
  color: #d0e8f7;
  font-size: 75%;
  text-align: center;
}

h4 {
  text-align: center;
  color: #daeef9;
}

.marketing-container {
  display: flex;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-third-styling {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  width: 100%;
  padding: 0 20px;
}

.col-full {
  flex-basis: 100%;
}

.circle {
  border-radius: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.padding {
  padding-left: 550px;
  padding-right: 550px;
}

.margin-top {
  margin-top: 50px;
}

body {
  background-color: background-color: #1996da;
}
